*{
    padding: 0;
    margin: 0;
}

.barraNav{
    background-color: blue;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.barraNav a{
    color: white;
}

.gridPadre{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 400px 100px 100px 100px;
}

.gridHijo{
    background-color: yellow;
    margin: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridHijo img{
    width: auto;
    height: 300px;
}