@media (max-width:480px) {
    .bloque{
        width: auto;
        height: 100vh;
        background-color: aqua;
    }    
}

@media (min-width:481px){
    .bloque{
        width: auto;
        height: 100vh;
        background-color: green;
    }
}