*{
    margin: 0;
    padding: 0;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: blue;
}

.item{
    background-color: aqua;
    width: auto;
    height: 50vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img{
    width: 200px;
    border-radius: 8px;
}